@page "/Settings"
@using Microsoft.AspNetCore.Components
@using StreamBadger.Models

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
			<EditForm Model="@Model" class="form" OnValidSubmit="OnSubmit">
                <div class="mb-3">
                    <label for="port" class="form-label">Server Port:</label>
                    <InputText @bind-Value="Model.Port" type="number" class="form-control"/>
                </div>
                <div>
                    <button type="submit" class="btn btn-outline-success">Save</button>
                    <button type="button" class="btn btn-outline-secondary">Cancel</button>
                </div>
			</EditForm>
        </div>
    </div>
</div>

@code {

    public SettingsModel Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
    }

    private void OnSubmit()
    {
    }

}
